@model MoviePro.Models.Movie

@using MoviePro.Services
@inject IImageService _imageService

@using MoviePro.Enums 

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="=" row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MovieId" class="control-label"></label>
                        <input asp-for="MovieId" class="form-control" />
                        <span asp-validation-for="MovieId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TagLine" class="control-label"></label>
                        <input asp-for="TagLine" class="form-control" />
                        <span asp-validation-for="TagLine" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Overview" class="control-label"></label>
                        <input asp-for="Overview" class="form-control" />
                        <span asp-validation-for="Overview" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rating" class="control-label"></label>
                        <select asp-for="Rating" class="form-control" asp-items="Html.GetEnumSelectList<MovieRating>()"></select>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Poster" class="control-label"></label>
                        <input id="cPoster" type="file" asp-for="Poster" class="form-control-file" />
                        <span asp-validation-for="Poster" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BGImage" class="control-label"></label>
                        <input id="cBackGroundImage" asp-for="BGImage" type="file" class="form-control-file" />
                        <span asp-validation-for="BGImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trailer" class="control-label"></label>
                        <input asp-for="Trailer" class="form-control" />
                        <span asp-validation-for="Trailer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
